.container {
  display: flex;
  justify-content: center;



}
.singInForm {
  display: flex;
  flex-direction: column;

  min-width: 300px;
  max-width: 500px;
  width: 50%;

}
.error-message {
  color: #D8000C;
  background-color: #FFD2D2;
  padding: 10px;
  margin: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  align-items: center;
}

.example-full-width {
  width: 100%;


}
