<form #f="ngForm">
  <div>
    <mat-dialog-content fxFlexOrder="column">
      <mat-form-field>
        <input #input type="text" matInput placeholder="Name" name="name" [(ngModel)]="name" required>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Type" name="projectTypeName" [(ngModel)]="projectTypeName" required>
          <mat-option *ngFor="let value of allProjectTypes" [value]="value.projectTypeId">
            {{ value.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input #input type="text" matInput placeholder="Client" name="client" [(ngModel)]="client" >
      </mat-form-field>
      <mat-form-field>
        <input #input type="text" matInput placeholder="Number" name="projectnumber" [(ngModel)]="projectnumber">
      </mat-form-field>
    </mat-dialog-content>
  </div>
  <div class="flex-button">
    <mat-dialog-actions >
      <mat-dialog-content class="flex-button">
        <button mat-raised-button color="primary" [mat-dialog-close]="true" [disabled]="!f.valid" (click)="onSave(f)" type="button">Save
        </button>
        <button  mat-raised-button color="primary" mat-dialog-close (click)="onCancel()">Cancel</button>
      </mat-dialog-content>
    </mat-dialog-actions>
  </div>
</form>
