.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  margin: 10px;
}

.mat-table {
  overflow: auto;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.container-new-activity{
  display: flex;
  flex-direction: column;
}
.form-class-margin{
  margin: 10px;
}

.mat-sort-header-container {
  align-items: center;
}
