.container-flex {
  display: flex;
  padding: 24px;
  justify-content: center;
}
.newActivity {
  display: flex;
  flex-direction: column;

}
.newActivityButton {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}


.container-new-activity{
  display: flex;
  flex-direction: column;
}

.min-width-class{
  min-width: 100px;

}
