.container-flex {
  display: flex;
  flex-direction: column;
}
.newActivity {
  display: flex;
  flex-direction: column;
}
.newActivityButton {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}
