<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <!--<a routerLink="/header"><img style="align-items: left" src="../assets/logo.png"  width="150px" height="" /></a>-->
  <h1 class="title">{{ title }}</h1>

  <div class="div-logout">
    <div *ngIf="authService.isAuthenticated()">
        <button type="button" mat-button routerLinkActive="lol" routerLink="/new-activity">
          Add new activity
        </button>
        <button type="button" mat-button routerLinkActive="lol" routerLink="/report-generate">
          Report generate
        </button>
        <button  *ngIf="authService.isInRoleManager()" type="button" mat-button routerLinkActive="lol" routerLink="/project-menager">
          Project manager
        </button>
        <button  *ngIf="authService.isInRoleManager()" type="button" mat-button routerLinkActive="lol" routerLink="/role-menager">
          Role manager
        </button>
        <button  *ngIf="authService.isInRoleManager()" type="button" mat-button routerLinkActive="lol" routerLink="/user-manager">
          User manager
        </button>
    </div>
    <div>
<!--      <form  (ngSubmit)="onLogout()" *ngIf="authService.isAuthenticated()">
        <button mat-raised-button type="submit">LogOut</button>
      </form>-->

      <div>
        <span fxFlex></span>

        <button mat-icon-button
                [matMenuTriggerFor]="menu" *ngIf="authService.isAuthenticated()">
          <mat-icon>face</mat-icon>
        </button>

        <mat-menu #menu="matMenu"  >

          <button mat-menu-item
                  (click)="onLogout()">
            <mat-icon>dialpad</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item
                  (click)="changePassword()">
            <mat-icon>lock</mat-icon>
            <span>Password change</span>
          </button>

        </mat-menu>
      </div>

    </div>
  </div>



  <span class="bn-spacer"></span>
</mat-toolbar>
